$black: #202020;
$primarycolor: #ec1f64;
$gapright: 6rem;
$dark-grey: #221f2e;
$almost-black: #121212;
$white-shadow:#716f6f;
$default-font:1.6rem;
$clip: 80vh;
$heightheader: 95vh;

$card1:rgb(246, 108, 228);
$card1-dark:darken($card1,20%);
$card2:rgb(246, 212, 108);
$card2-dark:rgb(241, 151, 60);
$card3:rgb(108, 172, 246);
$card3-dark:darken($card1,20%);

